<!DOCTYPE html>

<html lang="en">

<head>
	<title>Travel Guide</title>
    <link rel="stylesheet" href="/styles.css"/>
    <link rel="stylesheet" href="/restaurant-details-styles.css"/>
    <link rel="icon" type="image/png" href="/images/icon.svg">

</head>

<body>
    <header></header>
    <nav></nav>
        <div class="restaurant-details">
            <img class="restaurant-details-img" src="<%= restaurant.photo %>">
            <div>
                <h1><%= restaurant.name %></h1>
                <h2><%= restaurant.address %></h2>
                <h2><%= restaurant.phone %></h2>
            </div>
        </div>

    <h2>Reviews</h2>
    <% if (reviews && reviews.length > 0) { %>
        <ul>
            <% reviews.forEach(review => { %>
                <li>
                    <p>Rating: <%= review.rating %>/5</p>
                    <p>Review: <%= review.content %> </p>
                </li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No reviews yet for this restaurant.</p>
    <% } %>
    <footer></footer>
    <script src="/scripts/header.js"></script>
</body>

</html>